// MODULES
@use 'sass:math';
@use 'sass:string';
// VARIABLES & FUNCTIONS
@use './au-sass' as au;
@use './abstracts' as var;
@use './resets';

// COLORS
// COMPONENTS (ex: button, card, navbar)
// UTILITIES (ex: margin, padding, opacity)
// ANIMATIONS

body{
  background-color: var.$color-background;
}

#wrapper {
  margin: auto;
  width: 90vw;
  
  .container{
    // positioning
    position: relative; 
    margin: 2rem auto;
    // sizing
    border: 2px solid white;

    @include au.goldBox(60vw, "landscape", 0);

    @include au.goldSplit("flex", "cross-short", 0);
    
    .au-box-01{
      @include au.goldBox("responsive", "cross-short", 0);
      background-color: #8711cc;
      .au-box-02 {
        @include au.goldBox("responsive", "main-short", 0);
        background-color: #4311cc;
        .au-box-03 {
          @include au.goldBox("responsive", "cross-short", 0);
          background-color: #113dcc;
          .au-box-04 {
            @include au.goldBox("responsive", "main-short", 0);
            background-color: #11a0cc;
            .au-box-05 {
              @include au.goldBox("responsive", "cross-short", 0);
              background-color: #11ccc3;;
            
            }
          }
        }
      }
    }
    .au-box-square{
      @include au.goldFlex(3, -1, 6, 0);

      overflow-y: scroll;
      @include var.scrollbars(3px,  white, transparent);

      background-color: #11ccc3;

      div {
        position: relative;
        border: 2px dashed yellow;
      }
    }
    
  }

}