include ./navbar.conf.pug
include ../../basics/image-link/_image-link

nav
  +image-link('logo-link', logo.href, logo.src, logo.alt)
  div 
    ul
      each item in pageLinkList
        li
          a(href= item.url)= item.name