-const logo = {href:'index.html', src:'../images/pug-logo.svg', alt:'Logo home link'}
-const pageLinkList = []
-pageLinkList.push({name:'Home', url: '#'})
-pageLinkList.push({name:'About', url: 'about.html'})
-pageLinkList.push({name:'Contact', url: '#'})
