-const galleryFigureList= []
-galleryFigureList.push({title:'Chanbara', subtitle:'Illu', image:{href:'#', src:'../images/CHNB1.png', alt:'ABC'}})
-galleryFigureList.push({title:'Chanbara', subtitle:'Illu', image:{href:'#', src:'../images/Jegam.jpg', alt:'ABC'}})
-galleryFigureList.push({title:'Chanbara', subtitle:'Illu', image:{href:'#', src:'../images/CHNB2.png', alt:'ABC'}})
-galleryFigureList.push({title:'Chanbara', subtitle:'Illu', image:{href:'#', src:'../images/RAIQA.jpg', alt:'ABC'}})
-galleryFigureList.push({title:'Chanbara', subtitle:'Illu', image:{href:'#', src:'../images/CHNB2.png', alt:'ABC'}})


.gallery 
  each entry in galleryFigureList 
 
    .card
      +image-link(false, entry.image.href, entry.image.src, entry.image.alt)
      div
        .card-info
          div
            h3= entry.title
              a(href= logoHref)
            p= entry.subtitle



