include ./gallery.conf.pug

.gallery 
  each entry in galleryFigureList 
 
    .card
      +image-link(false, entry.image.href, entry.image.src, entry.image.alt)
      div
        .card-info
          div
            h3= entry.title
              a(href= logoHref)
            p= entry.subtitle



