// FONT VARIABLES 
$base-font-size: 16px; 


$font-size-sm: 0.75rem;
$font-size-md: 1rem; 
$font-size-lg: 1.5rem; 
$font-size-xl: 2rem; 
$font-size-xxl: 3rem;
// hmmm, treba mi da mogu da podesim base font-size na @media