@use '../abstracts' as ab;

@mixin ui-grid($grid-class) {
  #{$grid-class} {
    display: grid;
    // grid options
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: map-get(ab.$z-depth, 'ui-tools');

    background-color: ab.$color-ui-grid;
    
    & > * {
      display: none;
      background-color: ab.$color-ui-grid;
    }

    @each $breakpoint in map-keys(ab.$breakpoints) {

      @include ab.respond-to($breakpoint){
        
        $n-col: map-get(ab.$column-count, $breakpoint);

        grid-template-columns: repeat($n-col, 1fr);   
        column-gap: map-get(ab.$gutter, $breakpoint); 
        padding: 0 map-get(ab.$outer-margin, $breakpoint); 
    
        & > *:nth-child(-n + #{$n-col}) {  
          display: block;
        }

      }

    }
  }
}
