@use "../../abstracts" as *;

@mixin image-link($class-name) {
  @if $class-name== ".rollover" {
    #{$class-name} {
      width: 100%;
      height: min-content;
      border: 1px solid rebeccapurple;

      & > a {
        display: block;
        height: 100%;
        width: 100%;

        & > img {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
      // JS add class to maintain aspect ratio
      .portrait {
        object-fit: contain;
      }

      .landscape {
        object-fit: cover;
      }
    }
  } @else {
    #{$class-name} {
      height: 100%;

      & > a {
        display: block;
        height: 100%;
        width: 100%;

        & > img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
