.ui-grid
  .ui-grid-column
  .ui-grid-column
  .ui-grid-column
  .ui-grid-column
  .ui-grid-column
  .ui-grid-column
  .ui-grid-column
  .ui-grid-column
  .ui-grid-column
  .ui-grid-column
  .ui-grid-column
  .ui-grid-column
