doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    script(defer src="../bundle.js")
    title PST Stack
  body
    .wrapper
      block nav
        include ../components/navbar/navbar
  
      block main
        
  
      block footer