include _image-link 

-const logoHref = '#'
-const logoSrc = '#'
-const linkList = {'a': 'a-url', 'b': 'b-url', 'c': 'c-url'}

nav
  +image-link('link-logo', logoHref, logoSrc, 'Logo home link')
  ul
    each n, i in linkList 
      li
        a(href= n)= i